name: Publish pull request

on:
  pull_request_target:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    environment: test
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.meta.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: dump1
        run: |
          echo "${{ toJSON(github) }}"
      - name: Checkout PR
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: source
      - name: Merge PR
        run: |
          rm -rf source/.github
          cp -r source/* .
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_ACCESS_USERNAME }}
          password: ${{ secrets.GHCR_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v2
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
          tags: |
            type=ref,enable=true,value=pr-${{ github.event.pull_request.number }}
      - name: Build Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          # push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: dump
        run: |
          echo "${{ steps.meta.outputs.tags }}"
  # depoly:
  #   needs: build-and-push-image
  #   if: ${{ needs.build-and-push-image.result == 'success' }}
  #   uses: ./.github/workflows/deploy.yml
  #   secrets: inherit
  #   with:
  #     version: ${{ needs.build-and-push-image.outputs.version }}
  #     domain: echo-${{ needs.build-and-push-image.outputs.version }}.dev.xuexb.com